:root {
  --cerulean: #4484ce;
  --alluminium: #d9d9d9;
  --ligth: #f9cf00;
  --tangerine: #f19f4d;
  --navHeight: 4em;
}
* {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--alluminium);
  font-family: Helvetica;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .outer-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    min-height: 20em;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70em;
    }
    &:first-child {
      padding: calc(var(--navHeight) + 3em) 0 0 0;
    }
  }

  // Banner -------------------
  #banner {
    height: 100%;
    min-height: 35vh; 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/car-detailing.jpg");

    display: flex;
    justify-content: center;
    align-content: center;
    .card {
      width: auto;
      text-align: center;
      h1 {
        color: var(--alluminium);
        text-shadow: 2px 2px black;
        font-size: 5em;
      }
      h2 {
        color: var(--ligth);
        text-shadow: 2px 2px black;
        font-size: 2em;
      }
      img {
        width: 30%;
        height: auto;
      }
    }
  }

  // About -------------------
  #about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--cerulean);
      width: 34em;
      h1 {
        padding-bottom: 2ch;
      }
      p {
        padding: 0 5em;
      }
      h1,
      p {
        text-align: center;
      }
    }

    #image img {
      width: 34em;
    }
  }
}
