.anchor {
  display: block;
  position: relative;
  top: -4em;
  visibility: hidden;
}
.content {
  width: 70em;
}
* {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
h1 {
  color: #2789c8;
}
p {
  color: #222;
}
body {
  background-color: #fff;
  font-family: Helvetica;
  margin-top: 4em;
}
nav {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0em 0.3em 0.3em rgba(0, 0, 0, 0.3);
}
nav #navList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 4em;
  list-style-type: none;
  max-width: 90vw;
}
nav #navList #logo {
  height: 80%;
  margin-right: auto;
}
nav #navList #menu__toggle {
  display: none;
}
nav #navList .menu__box {
  display: flex;
}
nav #navList .menu__box li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav #navList .menu__box li a {
  padding: 0em 1em;
  font-size: 1.25rem;
}
nav #navList .menu__box li:hover {
  color: #2789c8;
}
@media (max-width: 632px) {
  nav #menu__toggle {
    opacity: 0;
  }
  nav #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  nav #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  nav #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  nav #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  nav .menu__btn {
    position: relative;
    top: 10px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  nav .menu__btn > span,
  nav .menu__btn > span::before,
  nav .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  nav .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  nav .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  nav .menu__box {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    width: 60vw;
    height: 100%;
    margin: 0 40vw;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  nav .menu__box li a {
    margin: 0.5em;
    padding: 1.2em;
  }
  nav .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  nav .menu__item:hover {
    background-color: #cfd8dc;
  }
  nav #navList #links {
    display: none;
    position: absolute;
    top: 0;
    flex-direction: column;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .container {
  display: flex;
  justify-content: center;
}
main .container .content {
  margin: 2.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .container .content:first-child {
  margin-top: 5em;
}
main .container .card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main hr {
  position: relative;
  border: 0;
  border-top: 2px solid #ccc;
  width: 70em;
  margin: auto;
}
main #banner {
  height: 100%;
  min-height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/car-detailing.jpg");
  display: flex;
  justify-content: center;
}
main #banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
main #banner .content h1 {
  color: #2789c8;
  text-shadow: 2px 2px black;
  font-size: 5rem;
}
@media (max-width: 70em) {
  main #banner .content h1 {
    font-size: 8vw;
    text-align: center;
  }
}
main #banner .content h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 2rem;
}
@media (max-width: 70em) {
  main #banner .content h2 {
    font-size: 5vw;
    text-align: center;
  }
}
main #banner .content img {
  width: 30%;
  height: auto;
}
main #about .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main #about .content #text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34em;
  height: 100%;
}
main #about .content #text h1 {
  margin-bottom: 2ch;
}
main #about .content #text p {
  margin: 0 5em;
}
main #about .content #text h1,
main #about .content #text p {
  text-align: center;
}
main #about .content #image img {
  width: 34em;
  height: 100%;
}
@media (max-width: 70em) {
  main #about .content {
    flex-direction: column;
    align-items: center;
  }
  main #about .content #text {
    width: 60vw;
    min-width: 300px;
    margin-bottom: 3em;
  }
  main #about .content #text h1 {
    margin: 1ch 0;
  }
  main #about .content #text p {
    margin: 2em;
    margin-top: 0;
  }
  main #about .content #image {
    width: 60vw;
    min-width: 300px;
  }
  main #about .content #image img {
    width: 100%;
  }
}
main #diensten {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #diensten #header h1 {
  margin-bottom: 1ch;
}
main #diensten #header h3 {
  color: #222;
  margin-bottom: 5ch;
}
main #diensten * {
  text-align: center;
}
main #diensten #cards {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  justify-content: space-between;
}
main #diensten #cards .card {
  width: 31%;
  min-width: 200px;
  min-height: 400px;
  margin-bottom: 20px;
}
main #diensten #cards .card .wrapper {
  margin: 10px;
}
main #diensten #cards .card a img {
  width: 70%;
  height: auto;
  margin: 50px 0;
}
main #diensten #cards .card a img {
  transition: transform 1.2s;
}
main #diensten #cards .card a img:hover {
  scale: 1.1;
}
main #diensten #cards .card .text {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #diensten #cards .card .text h3 {
  margin-bottom: 1ch;
  color: #2789c8;
}
main #diensten #cards .card .text p {
  margin-bottom: 1ch;
}
@media (max-width: 70em) {
  main #diensten #cards {
    flex-direction: column;
    justify-content: center;
  }
  main #diensten #cards .card {
    margin: auto;
    margin-bottom: 2em;
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    height: auto;
  }
  main #diensten #cards .card .text {
    font-size: 130%;
    margin: 0 50px;
  }
}
footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: #222;
  margin: 0;
  padding: 0;
  min-height: 5em;
}
footer * {
  color: #6e6e6e;
}
footer .content {
  display: flex;
  flex-direction: row;
}
@media (max-width: 70em) {
  footer .content {
    flex-direction: column;
  }
}
footer .content > div {
  width: 100%;
  padding: 2em 1em;
}
footer .content > div h3 {
  color: #c5c5c5;
  padding-bottom: 1ch;
}
footer .content #diensten {
  display: flex;
  flex-direction: column;
}
footer .content #diensten a {
  padding-bottom: 1ch;
}
footer .content #diensten a:hover {
  color: white;
}
footer .content #openingstijden .dag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 15em;
  min-width: 10em;
  padding-bottom: 0.5ch;
}
footer .content #socials .fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
footer .content #socials .fa:hover {
  opacity: 0.7;
}
footer .content #socials .fa-facebook {
  background: #3b5998;
  color: white;
}
footer .content #contact div {
  padding-bottom: 1ch;
}
footer .content #contact a:hover {
  color: white;
}
